---
- name: Enable Repositories On Brew
  community.general.homebrew_tap:
    name: "{{ item }}"
    state: present
  loop:
    - sqitchers/sqitch
    - aconchillo/guile
    - d12frosted/emacs-plus

- name: Install Dependencies
  community.general.homebrew:
    name:
      - fd
      - gh
      - uv
      - m4
      - zsh
      - git
      - npm
      - gmp
      - gcc
      - entr
      - curl
      - grip
      - perl
      - tree
      - make
      - cmake
      - guile
      - haunt
      - shfmt
      - unzip
      - libffi
      - docker
      - colima
      - bdw-gc
      - sqlite
      - sqitch
      - pandoc
      - podman
      - direnv
      - lazygit
      - ripgrep
      - ghostty
      - libtool
      - pkgconf
      - autoconf
      - readline
      - automake
      - opentofu
      - cpanminus
      - openssl@3
      - guile-json
      - emacs-plus
      - shellcheck
      - font-fira-code
      - guile-lsp-server
    state: latest
  notify:
    - event_download_ohmyzsh
    - event_install_ohmyzsh
    - event_install_npm_dependencies
    
- name: Install Common Cask Dependencies
  community.general.homebrew_cask:
    name: arc
    state: present

- name: Install Perl Dependencies
  become: true
  command: >
    /opt/homebrew/bin/cpanm
    --local-lib="{{ ansible_facts['user_dir'] }}/.perl"
    --force
    DBI
    DBD::SQLite
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.perl"
