.nvimlog
.private_profile

**/.vault
**/.become

# Guile
*.go
*.so
*.dylib
.cache/

# Emacs
*~
\#*\#
**/.emacs.d/eln-cache
**/.emacs.d/elpa
**/.emacs.d/lisp
**/.emacs.d/custom.el
**/.emacs.d/projects
**/.emacs.d/transient

# MacOS
.DS_Store

# Builds
/build/
