.nvimlog
.private_profile

**/.emacs.d/eln-cache
**/.emacs.d/elpa
**/.emacs.d/lisp
**/.emacs.d/custom.el
**/.emacs.d/transient
**/.vault
**/.become

# Guile
*.go
*.so
*.dylib
.cache/

# Doom Emacs
*~
\#*\#

# macOS
.DS_Store

# Builds
/build/
