---
- name: Set Zsh As Shell By Default
  become: true
  user:
    name: "{{ ansible_env.USER }}"
    shell: /bin/zsh
    ssh_key_bits: 4096
    generate_ssh_key: true
    ssh_key_file: ".ssh/{{ ansible_env.USER }}_rsa"

- name: Add SSH Key To Agent
  shell: |
    eval "$(ssh-agent -s)"
    ssh-add "{{ ansible_env.HOME }}/.ssh/{{ ansible_env.USER }}_rsa"
  when:
    - "'ansible-generated' not in ssh_keys_added.stdout"

- name: Add Git Configuration
  community.general.git_config:
    name: user.email
    scope: global
    value: bxsr@proton.me


