---
- name: Enable Repositories On Brew
  community.general.homebrew_tap:
    name: "{{ item }}"
    state: present
  loop:
    - sqitchers/sqitch

- name: Install Dependencies
  community.general.homebrew:
    name:
      - fd
      - gh
      - uv
      - zsh
      - git
      - gmp
      - gcc
      - lima
      - entr
      - curl
      - grip
      - perl
      - tree
      - cmake
      - shfmt
      - unzip
      - sqlite
      - sqitch
      - pandoc
      - neovim
      - direnv
      - tofu-ls
      - lazygit
      - ripgrep
      - ghostty
      - readline
      - opentofu
      - cpanminus
      - openssl@3
      - shellcheck
      - font-fira-code
      - lua-language-server
    state: latest
  notify:
    - event_download_ohmyzsh
    - event_install_ohmyzsh

- name: Install Common Cask Dependencies
  community.general.homebrew_cask:
    name: arc
    state: present

- name: Install Perl Dependencies
  become: true
  command: >
    /opt/homebrew/bin/cpanm
    --local-lib="{{ ansible_facts['user_dir'] }}/.perl"
    --force
    DBI
    DBD::SQLite
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.perl"
