---
- name: Enable Repositories On Brew
  community.general.homebrew_tap:
    name: "{{ item }}"
    state: present
  loop:
    - sqitchers/sqitch
    - aconchillo/guile
    - d12frosted/emacs-plus

- name: Install Dependencies
  community.general.homebrew:
    name:
      - fd
      - gh
      - uv
      - m4
      - zsh
      - git
      - npm
      - gmp
      - gcc
      - entr
      - curl
      - pipx
      - grip
      - perl
      - lima
      - tree
      - make
      - cmake
      - guile
      - haunt
      - shfmt
      - unzip
      - black
      - isort
      - libffi
      - pipenv
      - pytest
      - bdw-gc
      - sqlite
      - sqitch
      - pandoc
      - neovim
      - podman
      - direnv
      - lazygit
      - ripgrep
      - libyaml
      - ghostty
      - libtool
      - pkgconf
      - autoconf
      - readline
      - automake
      - opentofu
      - cpanminus
      - openssl@3
      - emacs-plus
      - shellcheck
      - font-fira-code
      - dbeaver-community
      - lua-language-server
    state: latest
  notify:
    - event_download_ohmyzsh
    - event_install_ohmyzsh
    - event_install_npm_dependencies

- name: Install Pyflakes Dependency
  shell: |
    pipx install pyflakes
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.local/bin/pyflakes"

- name: Install Nosetests Dependency
  shell: |
    pipx install nose
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.local/bin/nosetests"

- name: Install Common Cask Dependencies
  community.general.homebrew_cask:
    name: arc
    state: present

- name: Install Perl Dependencies
  become: true
  command: >
    /opt/homebrew/bin/cpanm
    --local-lib="{{ ansible_facts['user_dir'] }}/.perl"
    --force
    DBI
    DBD::SQLite
  args:
    creates: "{{ ansible_facts['user_dir'] }}/.perl"
