---
- name: Add SSH Key To Agent
  shell: |
    eval "$(ssh-agent -s)"
    ssh-add --apple-use-keychain "{{ ansible_facts['user_dir'] }}/.ssh/{{ ansible_facts['user_id'] }}_rsa"
  when:
    - "'ansible-generated' not in ssh_keys_added.stdout"
