---
- name: Install Ohmyzsh
  block:
    - name: Install Ohmyzsh - Download Installer
      get_url:
        url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
        dest: /tmp/ohmyzsh.sh
        mode: 0777
      listen: event_download_ohmyzsh
    - name: Install Ohmyzsh - Run Installer
      shell: |
        echo "Y" | sh /tmp/ohmyzsh.sh
      args:
        creates: "{{ ansible_facts['user_dir'] }}/.oh-my-zsh"
      listen: event_install_ohmyzsh

- name: Install NPM Dependencies
  become: true
  community.general.npm:
    name: "{{ item }}"
    global: true
    force: true
    state: latest
  loop:
    - prettier
    - emmet-ls
    - stylelint
    - typescript
    - js-beautify
    - bash-language-server
    - yaml-language-server
    - typescript-language-server
    - vscode-langservers-extracted
    - "@github/copilot-language-server"
    - "@ansible/ansible-language-server"
  listen: event_install_npm_dependencies

- name: Install PIP Dependencies
  ansible.builtin.pip:
    name:
      - black
      - pyflakes
      - isort
      - pipenv
      - pytest
      - nose
  listen: event_install_pip_dependencies
