---
- name: Install Npm
  package:
    name: npm
    state: present

- name: Install Npm Dependencies
  community.general.npm:
    name: "{{ item }}"
    global: true
    force: true
    state: latest
  loop:
    - elm
    - elm-test
    - prettier
    - elm-format
    - typescript
    - bash-language-server
    - yaml-language-server
    - typescript-language-server
    - vscode-langservers-extracted
    - "@github/copilot-language-server"
    - "@elm-tooling/elm-language-server"
    - "@ansible/ansible-language-server"
